<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf=8">
    <title>Ohiete</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <form class="box" action="index.html" method="recipe">
    <h1>新規登録</h1>
    <input type="text" name="" placeholder="ニックネーム">
    <input type="text" name="" placeholder="メールアドレス">
    <input type="password" name="" placeholder="パスワード">
    <input type="password" name="" placeholder="パスワード（確認用）">
    <input type="submit" name="" value="Login">
    </form>
  </body>
</html>