<hr class="contents-divider">

<footer class="container">
  <p class="float-right"><a href="#">トップに戻る</a></p>
  <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">プライバシー</a> &middot; <a href="#">利用規約</a></p>
</footer>