<header class="second-header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#2e499d;">
    <%= link_to image_tag('/assets/logo-y.png' , size: '270x28'), "/" %>
  </nav>
</header>