.recipe-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-box {
  width: 65vw;
  padding-top: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.recipe-creator {
  font-size: 20px;
  margin-bottom: 24px;
}

.recipe-box-img {
  width: 35vw;
  margin: 20px;
  object-fit: contain;
}

.recipe-details {
  width: 80vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;

}

.recipe-img-content-show {
  width: 40vw;
}

.detail-table {
  margin-top: 3vh;
  width: 40vw;
}

.detail-recipe {
  width: 30%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 16px;
  text-align: center;
}

.detail-value {
  width: 70%;
  padding: 16px;
  border: 1px solid #dedede;
  font-size: 16px;
}

.question-btn {
  width: 50%;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.comment-btn {
  text-align: center;
  background-color: #2e499d;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  padding: 2vh 3vw;
  border-radius: 24px;
}

.comment-btn:hover {
  opacity: 0.5;
  text-decoration: none;
  color: #FFF;
}

.recipe-red-btn {
  text-align: center;
  background-color: #d13209;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  padding: 2vh 3vw;
  border-radius: 24px;
}

.recipe-red-btn:hover {
  opacity: 0.5;
  text-decoration: none;
  color: #FFF;
}

.recipe-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 16px;
  color: black;
  padding: 2vh 3vw;
  border-radius: 24px;
}

.recipe-destroy:hover {
  opacity: 0.5;
  text-decoration: none;
  color: black;
}