<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf=8">
    <title>Ohiete</title>
    <link rel="stylesheet" href="sessions.css">
  </head>

  <body>
    <form class="box" action="/" method="post">
    <h1>Login</h1>
    <input type="text" name="" placeholder="メールアドレス">
    <input type="password" name="" placeholder="パスワード">
    <input type="submit" name="" value="ログイン">
    </form>
  </body>
</html>