.questions-contents {
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
}

.recipes-create-header {
  padding: 5vh 0;
  text-align: center;
}

.questions-main {
  background-color: #FFF;
  min-width: 450px;
  padding: 10vh 15vw;
}

.questions-title {
  font-size: 24px;
  font-weight: bold;
  color: #63676b;
  text-align: center;
  margin-bottom: 40px;
}


.row {
  width: 100%;
  text-align: center;
}

.questions-text {
  padding-top: 16px;
  padding-left: 16px;
}

/* 投稿された質問 */
.questions {
  padding-top: 16px;
  display: flex;
  justify-content: stretch;
}

.question-date, .question-message {
  padding-left: 16px;
}

/* ボタン */
.question-post-btn {
  background: #d13209;
  border: 1px solid #d13209;
  border-radius: 24px;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 16px;
  margin-bottom: 4vh;
}

.question-post-btn:hover {
	opacity: 0.5;
}

.question-back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  border-radius: 20px;
  color: #fff;
  padding: 1.6vh 8vw;
  border-radius: 24px;
  font-size: 16px;
  text-decoration: none;
}

.question-back-btn:hover {
  opacity: 0.5;
  text-decoration: none;
  color: #fff;
}
/* /ボタン */